.sc-ion-input-ios-h {
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
}

datatable-body-cell {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

datatable-body-row {
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  min-height: 55px;
}