<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Kertas Kerja</ion-title>
    <ion-buttons slot="primary" (click)="toggleEditing()">
      <ion-button color="primary" fill="clear" *ngIf="!editing">
        <ion-icon slot="start" name="create"></ion-icon>
        Edit
      </ion-button>
      <ion-button color="primary" fill="clear" *ngIf="editing">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- Theme classes dark, material, bootstrap -->
    <!-- [columns]="columns" -->
    <!-- [selectionType]="'cell'"  -->
    <div *ngIf="!editing">
      <ngx-datatable 
        class="material striped"
        rowHeight="auto"
        columnMode="force"
        selectionType="cell" 
        [rows]="rows" 
        [scrollbarH]="true" 
        [scrollbarV]="false" 
        [headerHeight]="0">
        <ngx-datatable-column [name]="item.name" [width]="200" *ngFor="let item of columns">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" class="cell">
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div *ngIf="editing">
      <ngx-datatable
        class="material"
        rowHeight="auto"
        columnMode="force"
        selectionType="cell" 
        [rows]="rows" 
        [scrollbarH]="true" 
        [scrollbarV]="false" 
        [headerHeight]="0">
        <ngx-datatable-column  [name]="item.name" [width]="200" *ngFor="let item of columns">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" class="cell">
            <ion-input (ionBlur)="updateValue($event, item.name, rowIndex)"
              (click)="log(item.name, rowIndex)"
              type="text"
              [value]="value"></ion-input>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="primary" expand="block">Simpan</ion-button>
    </div>
  </ion-toolbar>
</ion-footer> -->
