<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Artikel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Artikel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
     <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <div class="loading" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div class="container" *ngIf="!loading">
    <ion-list>
      <div *ngFor="let item of data" >
        <ion-item *ngIf="item.article_status.id == 2" (click)="details(item.id)">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.featured_image_fullpath" class="img-loading" (ionImgDidLoad)="dataService.imageLoad($event)" (ionError)="dataService.imageDefault($event)"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h3>{{item.title}}</h3>
            <p>{{item.created_at | simpleDate}}</p>
            <p class="desc">{{item.description | sliceText:"80"}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
