.container {
  padding: 15px 0;
  
  ion-text {
    line-height: 1.8;
  }
  
  ion-label {
    padding-top: 5px;
    padding-bottom: 5px;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    white-space: normal;
    h3 {
      color: #3171e0;
      font-weight: 600;
      font-size: 12pt;
    }
    p {
      margin-top: 5px;
    }
    .desc {
      color: #000000;
    }
  }

  ion-thumbnail {
    background: #eeeeee;
  }
}