<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Artikel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="myForm">
    <div class="featured">
      <ion-label position="floating">Gambar Utama</ion-label>
      <ion-img id="featuredImg" [src]="base64Image"></ion-img>
      <input id="files" type="file" class="form-control" name="documents" (change)="onChange($event)">
      <ion-button shape="round" expand="block" color="secondary" (click)="presentActionSheet()">Pilih gambar</ion-button>
    </div>
    <ion-item>
      <ion-label position="floating">Judul</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="!myForm.controls.title.valid && (myForm.controls.title.dirty || submitAttempt)">
      <ion-label>
        <p class="error">Judul tidak boleh kosong</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Deskripsi</ion-label>
      <ion-textarea formControlName="description" autoGrow="true">
      </ion-textarea>
    </ion-item>

    <div class="images">
      <ion-label position="floating">Gambar Lainnya</ion-label>
      <ion-list>
        <ion-item *ngFor="let item of article_images">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.base64Image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h3>{{item.title}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button shape="round" expand="block" color="secondary" (click)="addImage()">Tambah gambar</ion-button>
    </div>

    <ion-radio-group formControlName="article_status_id" mode="md">
      <ion-list-header>
        <ion-label>Publikasi</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label>Draft</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Publish</ion-label>
        <ion-radio slot="start" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="primary" expand="block" (click)="submit()">Simpan</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
