.container {
  padding: 15px;
  text-align: center;

  .logo {
    margin: 40px;
    ion-img{
      width: 90px;
      margin: auto;
    }
  }

  ion-button {
    width: 70%;
    max-width: 250px;
    min-width: 145px;
    margin: 10px;
  }
}

.fab-menu {
  position: absolute;
  bottom: 55px;
  background-color: var(--ion-color-dark);
  border-radius: 8px 8px 0 8px;
  ion-item {
    --border-radius: 8px;
    ion-icon {
      font-size: 18px;
      margin-right: 8px;
    }
  }
}