 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <form [formGroup]="myForm">
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.name.valid && (myForm.controls.name.dirty || submitAttempt)">
        <ion-label>
          <p class="error">Nama tidak boleh kosong</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jenis Kelamin</ion-label>
        <ion-select formControlName="gender">
          <ion-select-option value="l">Laki-laki</ion-select-option>
          <ion-select-option value="p">Perempuan</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nomor HP</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alamat</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.email.valid && (myForm.controls.email.dirty || submitAttempt)">
        <ion-label>
          <p class="error">Masukkan email yang valid</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="{{type}}" formControlName="password"></ion-input>
        <ion-note slot="end" (click)="revealPassword()">
          <ion-icon name="eye"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.password.valid && (myForm.controls.password.dirty || submitAttempt)">
        <ion-label>
          <p class="error">Minimal 8 karakter</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repeat Password</ion-label>
        <ion-input type="{{type_r}}" formControlName="password_confirmation" (ionChange)="checkPassword()"></ion-input>
        <ion-note slot="end" (click)="revealRpassword()">
          <ion-icon name="eye"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.password_confirmation.valid && (myForm.controls.password_confirmation.dirty || submitAttempt)">
        <ion-label>
          <p class="error">Minimal 8 karakter</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="passwordNotMatch">
        <ion-label>
          <p class="error">Password tidak cocok</p>
        </ion-label>
      </ion-item>
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="primary" expand="block" (click)="next()">
        Selanjutnya
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>